<ul class="phones">
  {{# each phones as |phone| }}

  <li class="thumbnail" data-element="phoneItem" data-phone-id="{{ phone.id }}">
    <a href="#!/phones/{{ phone.id }}" class="thumb" data-element="phoneItemLink">
      <img alt="{{{ phone.name }}}" src="{{ phone.imageUrl }}">
    </a>

    <a href="#!/phones/{{ phone.id }}" data-element="phoneItemLink">{{{ phone.name }}}</a>

    <p>{{{ phone.snippet }}}</p>
  </li>

  {{/each}}
</ul>